<!DOCTYPE html>
<html>
  <head>
    <title>Olivia Coffaro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="posts">Blog </a> |
      <a href="about">About</a> |
      <a href="projects">Projects</a>
    </nav>
    <%= yield %>
  </body>
</html>
